body{
  background: lightblue
}

.button-menu {
    background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
border-radius: 7px;
}

.myButton {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:3px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:12px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.myButton:active {
	position:relative;
	top:1px;
}


.header {
  background-image: url("images/LEDrainbow.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 30px;
  background-size: auto;
  width: 100%;
  
}
.header h1 {

}
.navbar {
  margin-top: 5px;
}



.myButton-un {
	box-shadow:inset 0px 0px 15px 3px #e1ebe3;
	background:linear-gradient(to bottom, #e1ebe3 5%, #e1ebe3 100%);
	background-color:#e1ebe3;
	border-radius:3px;
	border:1px solid #e1ebe3;
	display:inline-block;
	cursor:default;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	padding:12px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1ebe3;
}
